<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @user.manager_id %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @user.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @user.address2 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
